html, body, p, h1, h2, h3, h4, h5, h6, ol, ul, li, pre, code, address,
variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-family: arial;
    
}

html, body, p, ol, ul, li, pre, code, address,
variable, form, fieldset, blockquote {
    font-size: 14px;
}

html {
    background: #444;
}

ol {
    margin-left: 1.4em;
    list-style: decimal;
}

ul {
    margin-left: 1.4em;
    list-style:square;
}

img {
    border: 0;
}

body {
    text-align: center;
    margin: 0px;
    /*background-image: url(img/bg3.png);*/
    background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-left: 10px;
}

div.visiblediv {
    border: 1px solid #000;
    background: #EEE;
    border-radius: 6px;
}

/************************
 * Main wrapper         *
 ************************/
#wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;	
}


/************************
 * DIV BOXES SETTINGS   *
 ************************/

#login {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 220px;
    height: 100px;
}

#header {	
    margin-top: 10px;
    height: 100px;
    background:url('img/testbg3.jpg');
    margin-bottom: 0px;
    width: 958px;
}

#navcontwrapper {
    float: left;
    width: 960px;
}

#nav {
    background: rgba(255,255,255,0.0);    
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 40px;
    width: 640px;
    border: none;
}

#content {
    margin-top: 0px;
    min-height: 400px;
    border-top: none;
    float: left;
    width: 958px;
    text-shadow: 0 1px 0 #fff;
    background: #ddd;
    -moz-box-shadow: 0 0 16px #222;
}

#replaytable,
#replayinfo,
#addcomment,
#registerform,
.comment,
#addreplayform{
    background: #fff;
    border: none;
    border-bottom: 1px solid #bbb;
    box-shadow: 0 0 4px #bbb;
    margin-top: 20px;
    margin-left: 20px;    
    border-radius: 8px;    
}

#registerform {
    width: 350px;
    
}

#content h2 {
    margin: 0;
    padding: 1em .75em 0 .75em;
    -background: -moz-linear-gradient(top,#fff,#ccc);
    border-bottom: 1px solid #bbb;
}

#content p {
    margin: 0;
    padding: 1em 1em 0 1em;
}

#replaytable * {
    border-collapse: collapse;
}

.replayrow:nth-child(4n) {
    background: #fec;
}
#addcomment {
    padding: 1em 2em;
}
.commentheader .commentheader {
    color: #069;
    border-bottom: 1px solid #bbb;
    text-shadow: 0 1px 6px #7cf;
}

#user {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-right: 0px;
    background: none;
    border: none;
    float: right;
    height: 35px;
    width: 300px;
}

#changepassword {
    border: 1px solid #000;
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
}

#footer {
    float: left;
    margin-top: 10px;
    width: 960px;
    height: 60px;
    background: none;
    border: none;
}

#footer p{
    text-align: center;
    color: #FFF;
    clear: both;
}

#replaytable {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 915px;
    border-radius: 8px;
}

div.comment {
    border: 1px solid #000;
    width: 700px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#replayinfo {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 700px;
    border-radius: 8px;
}

#addcomment {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 700px;
    border-radius: 8px;
}

/************************
 * Menu settings        *
 ************************/

#nav ul{
    list-style: none;
    margin: 0;
    padding: 7px 0;
    text-align: left;
    margin-left: 20px;
    white-space: nowrap;
}

#nav li {
    display: inline;
    margin: 0 3px;
    margin-bottom: 10px;
    position: relative;
    padding-right: 1em;
    text-shadow: 0 1px 0 #000;
}

#nav ul a{
    text-decoration: none;
    padding: 0 0 3px;
    color: #EEE;
    font-weight: bold;
    font-size: 18px;
}

#nav ul a#current{
    border-bottom: 11px solid;
    color: #EEE;
    border-color: #ddd;
}

#nav ul a:hover{
    border-color: #FFF;
    border-bottom: 11px solid;
    color: #EEE;
    opacity: 0.4;
}

#nav li a:hover {
    color: #fea;
}


/**************************
 * PARAGRAPH SETTINGS     *
 **************************/
p {
    margin-left: 0px;
    color: #222;
    font-size: 14px;
}

p.paragraphtext {
    margin-bottom: 10px;
}

p.loginerror {
    color: red;
    font-style: italic;
}

p.lastpagelinks {
    text-align: right;
}

p.curpage {
    text-align: center;
}

p.nextpagelinks {
    text-align: left;
}

p.replayheader {
    font-weight: bolder;
    font-size: 16px;
    text-align: right;
}

p.commentheader {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
}

p.commenttext {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

#logintext {
    font-size: 11px;
    margin-top: 5px;
    margin-right: 3px;
    color: #FFF;
    text-align: right;
}

#userinfo {
    margin-top: 11px;
    margin-right: 3px;
    font-size: 12px;
    color: #FFF;
    font-family: arial;
    text-align: right;
}

label {
    margin-left: 10px;
}

a {
    margin-left: 10px;
}


/**************************
 * TABLE SETTINGS         *
 **************************/
td.formlabel {
    text-align: right;
}

td.forminput {
    text-align: left;
}

table.replaydatatable td {
    vertical-align: top;
    word-break: break-all;
}

table.replaydatatable p {
    text-align: left;
}

#NATO {
    color: blue;
}

#PACT {
    color: red;
}

table.changepasstable {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 8px;
}

/**************************
 * OTHER SETTINGS         *
 **************************/
input.textinput {
    width: 70px;
}

#loginbutton {
    width: 50px;
    margin-left: 10px;
}

textarea {
    resize: none;
}

input.registerforminput {
    width: 140px;
}