html, body, p, a, h1, h2, h3, h4, h5, h6, ol, ul, li, pre, code, address,
variable, form, fieldset, blockquote {
    padding: 0px;
    margin: 0px;
    font-family: arial;
    
}

html, body, p, ol, ul, li, pre, code, address,
variable, form, fieldset, blockquote {
    font-size: 14px;
}

ol {
    margin-left: 1.4em;
    list-style: decimal;
}

ul {
    margin-left: 1.4em;
    list-style:square;
}

html {
    overflow-y: scroll;
}

img {
    border: 0;
}

body {
    text-align: center;
    margin: 0px;
    background-color: #151915;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-left: 10px;
}

div.visiblediv {
    border: 1px solid #000;
    background: #EEE;
    border-radius: 6px;
}

/************************
 * Main wrapper         *
 ************************/
#wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;	
}


/************************
 * DIV BOXES SETTINGS   *
 ************************/

#login {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 220px;
    height: 100px;
}

#header {	
    margin-top: 10px;
    height: 100px;
    background:url('img/bannernew.jpg') #220000;
    margin-bottom: 0px;
    width: 958px;
}

#navcontwrapper {
    float: left;
    width: 960px;
}

#nav {
    background: rgba(255,255,255,0.0);    
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 40px;
    width: 640px;
    border: none;
}

#content {
    margin-top: 0px;
    min-height: 400px;
    border-top: none;
    float: left;
    width: 958px;
}

#user {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-right: 0px;
    background: none;
    border: none;
    float: right;
    height: 35px;
    width: 300px;
}

#footer {
    float: left;
    margin-top: 10px;
    width: 960px;
    height: 60px;
    background: none;
    border: none;
}

#footer p{
    text-align: center;
    color: #FFF;
}

#replaytable {
    padding: 1em;
    margin: 1em;
    width: 902px;
    border-radius: 8px;
}

h2 {
    margin: 0;
    padding: 1em .75em 0 .75em;
    -background: -moz-linear-gradient(top,#fff,#ccc);
    border-bottom: 1px solid #bbb;
}

div.pagecontentbox {
    padding: 1em;   
    margin: 1em;
    border-radius: 8px;
    width: 700px; 
    background: #fff !important;
    border: none !important;
    border-bottom: 1px solid #bbb !important;
    box-shadow: 0 0 4px #bbb;
}

/************************
 * Menu settings        *
 ************************/

#nav ul{
    list-style: none;
    margin: 0;
    padding: 7px 0;
    text-align: left;
    margin-left: 20px;
    white-space: nowrap;
}

#nav ul li{
    display: inline;
    margin: 0 3px;
    margin-bottom: 10px;
    position: relative;
    padding-right: 0.5em;
    text-shadow: 0 1px 0 #000;
}

#nav ul a{
    text-decoration: none;
    padding: 0 0 3px;
    color: #EEE;
    font-weight: bold;
    font-size: 18px;
}

#nav ul a#current{
    border-color: #FFF;
    border-bottom: 11px solid;
    color: #EEE;
}

#nav ul a:hover{
    border-color: #FFF;
    border-bottom: 11px solid;
    color: #EEE;
    opacity: 0.4;
}


/**************************
 * PARAGRAPH SETTINGS     *
 **************************/
p {
    margin-bottom: 1em;
    display: block;
    color: #222;
    font-size: 1em;
}

p.loginerror {
    color: red;
    font-style: italic;
}

p.tablecell {
    margin: 0px;
    padding: 0px;
}



/**
 * PAGINATION
 */
p.lastpagelinks {
    text-align: right;
}

p.curpage {
    text-align: center;
}

p.nextpagelinks {
    text-align: left;
}

p.replayheader, p.dateheader {
    font-weight: bolder;
    font-style: italic;
    font-size: 1.1em;
    text-align: right;
}
p.postedbyheader {
    font-weight: bolder;
    font-size: 1.1em;
    text-align: left;
}

table p {
    margin: 0px;
}
#logintext {
    font-size: 11px;
    margin-top: 5px;
    margin-right: 3px;
    color: #FFF;
    text-align: right;
}

#userinfo {
    margin-top: 11px;
    margin-right: 3px;
    font-size: 12px;
    color: #FFF;
    font-family: arial;
    text-align: right;
}

label {
    margin-left: 10px;
}

a {
    margin-left: 10px;
}


/**************************
 * TABLE SETTINGS         *
 **************************/
td.formlabel {
    text-align: right;
}

td.forminput {
    text-align: left;
}

#replayinfo td a {
    margin-bottom: 0em;
}

table {
    
}

table.newstable a {
    text-align: right;
}

#replaytable * {
    border-collapse: collapse;
}
.replayrow:nth-child(4n) {
    background: #EEE;
}

table.replaydatatable td {
    vertical-align: top;
    word-break: break-all;
}

table.commenttable {
    width: 690px;
}

table.newstable {
    width: 690px;
}

#NATO {
    color: blue;
}

#PACT {
    color: red;
}

/**************************
 * OTHER SETTINGS         *
 **************************/
input.textinput {
    width: 70px;
}

#loginbutton {
    width: 50px;
    margin-left: 10px;
}

textarea {
    resize: none;
}

input.registerforminput {
    width: 140px;
}

ul.replay_index {
    margin: 0px;
}

li.replay_item {
    list-style-type: none;
    margin: 0px;
    height: 80px;
    width: 700px;
    background-color: #BBB;
    border: 1px solid #fff;
    cursor: pointer;
}

li.replay_item:hover {
    background-color: #EEE;
}

a.replay_link {
    height: 80px;
    width: 700px;
    display: block;
}